aistudio-sdk
annotated-types
anyio
asttokens
bce-python-sdk
beautifulsoup4
certifi
chardet
charset-normalizer
click
colorlog
comm
contourpy
cycler
debugpy
decorator
distro
executing
fastapi
filelock
fire
google-cloud-storage
fonttools
fsspec
future
google-auth
google-genai
h11
hf-xet
httpcore
httpx
huggingface_hub
idna
imagesize
ipykernel
ipython
ipython_pygments_lexers
jedi
Jinja2
jsonpatch
jsonpointer
jupyter_client
jupyter_core
kiwisolver
langchain-core
langchain-text-splitters
langsmith
MarkupSafe
matplotlib
matplotlib-inline
modelscope
mpmath
nest-asyncio
networkx
numpy
opencv-contrib-python
opencv-python
opencv-python-headless
opt-einsum
orjson
packaging
paddleocr
paddlepaddle
paddlex
pandas
parso
pexpect
Pillow
platformdirs
prettytable
prompt_toolkit
protobuf
psutil
ptyprocess
pure_eval
py-cpuinfo
pyasn1
pyasn1_modules
pyclipper
pycryptodome
pydantic
pydantic_core
pydantic-settings
Pygments
pyparsing
pypdfium2
python-bidi
python-dateutil
pytz
PyYAML
pyzmq
requests
requests-toolbelt
rsa
ruamel.yaml
safetensors
setuptools
shapely
shellingham
simple-lama-inpainting
six
sniffio
stack-data
starlette
sympy
tenacity
termcolor
tornado
tqdm
traitlets
typer-slim
typing-inspection
typing_extensions
tzdata
ujson
urllib3
uuid_utils
uvicorn
wcwidth
websockets
zstandard